.footer--container {
    border-top: 1px solid #9A9194;
    padding: 3rem 0.5rem;
    margin-top: 0.5rem;
}

.footer__body {
    text-align: center;
}

.footer__link {
    color: #BC5276;
    font-weight: 700;
}

.footer__link:hover {
    color: #2E2D48;
}