.root__container {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

/* center content y-axis */
.root__content--align {
    align-self: center;
}

/* center content x-axis  */
.root__content--justify {
    justify-self: center;
}

.root__content--margin {
    width: 95%;
    justify-self: center;
}

.root__content--grid {
    display: grid;
    gap: 0.75rem;
    margin: 0.5rem;
}

// flex content
.content--flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}