body {
    font-family: 'Open Sans', sans-serif;
    background: #F1F1F2;
    color: #2E2D48;
}

h1 {
    font-family: 'Montserrat', sans-serif;
}

h2 {
    font-family: 'Assistant', sans-serif;
}

a {
    text-decoration: none;
    color: #2E2D48;
}